.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 219px;
    padding-left: 8%;
    padding-bottom: 6%;
    padding-top: 3%
}

#section-container-superior {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8%;
    padding-left: 8%;
    gap: 120px;
    background: #E5E5E5;
}

#section-container-central {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
    padding-top: 7%;
    padding-left: 8%;
    background: #E5E5E5;
}

#section-container-inferior {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
    padding-top: 7%;
    padding-left: 8%;
    padding-bottom: 12%;
    background: #E5E5E5;

}

.card-container h1 {
    font-weight: bold;
    font-size: 47px;
    color: #009688;
}

.card-container p {
    margin-top: 10%;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}

.card h3 {
    font-weight: 500;
    font-size: 30px;
    color: #FF4081;
    padding-top: 4%;
    padding-bottom: 4%;
}

.card p {
    font-weight: 300;
    font-size: 17px;
    color: #000000;
}