#container {
    display: flex;
    width: 65%;
    margin: 221px auto;
    justify-content: center;
    gap: 20px;
}

#form-contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    padding: 20px;
}

#form-contato h1 {
font-weight: bold;
font-size: 40px;
color: #FF4081;
}

#form-contato a {
    color: #fff;
    background-color: #FF4081;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 30px;
}

#form-nome {
    width: 60%;
    margin-top: 10%;
    border-radius: 7px;
    border: 1px solid #686868;
}

#form-email {
    width: 60%;
    margin-top: 3%;
    border-radius: 7px;
    border: 1px solid #686868;
}

#form-mensagem {
    width: 60%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 7px;
    border: 1px solid #686868;
}


