body, h1, h3, p, form {
    margin: 0;
    padding: 0;
}

#container-header {
    background-color: #2e948a;
    height: 117px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 117px;
    margin-right: 103px;
    margin-left: 82px;
}

#menu {
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline;
}

.menu-item-link {
    color: #fff;
    text-decoration: none;
    padding: 47px 15px;

}


footer {
    background-color: #2e948a;
    padding: 1% 2%;
}

#container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 53px;
}






#button-footer {
    display: flex;
    flex-direction: column;
}


#button-a {
    font-size: 20px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 62px;
    padding: 12px 60px;
    
}

#button-b {
    font-size: 20px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 62px;
    padding: 12px 60px;
    margin-top: 13px;
}

.menu-fo {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    text-align: left;
}