#section-banner {
    max-width: 1900px;
}

#section-banner .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
    padding: 60px 0;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#titulo-superior {
    font-size: 3.75rem;
    color: #FF4081;
    font-weight: 700;

}

#subtitulo {
    font-weight: 400;
    font-size: 1.6875rem;
    color: #555555;
}


.banner-content a {
    font-size: 1.6875rem;
    line-height: 31px;
    color: #FF4081;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 62px;
    border: 2px solid #FF4081;
}

.banner-image {
    padding-top: 20px;
}










#section-central {
    background-color: #F7F7F7;
    padding: 80px 0;
    
}

#section-central .wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card-central {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.card-central img {
    width: 288px;
    height: 270px;
}

.titulos-central {
    font-weight: 700;
    font-size: 1.5625rem;
    color: #FF4081;
}

.paragrafos-central {
    font-weight: 300;
    font-size: 1.0625rem;
    color: #000000;
}

.link-central {
    font-size: 1.25rem;
    color: #FFFFFF;
    padding: 15px 8px 15px 9px;
    background-color: #FF4081;
    border-radius: 62px;
    text-decoration: none;
}

#titulo-central-2 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 2.3125rem;
    color: #009688;
}

#section-central-2 {
   max-width: 1900px;
}

#section-central-2 .wrapper {
    padding: 40px;
}

.depoimentos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0;
}

.card-central-2 {
    display: flex;
    width: 620px;
    gap: 25px;
    margin-bottom: 40px;
}









#section-inferior {
    background-color: #F7F7F7;
}

#section-inferior .wrapper {
    padding: 40px;
}

#titulos-inferior {
    font-weight: 700;
    font-size: 2.3125rem;
    padding-top: 7%;
    padding-bottom: 5%;
    color: #009688;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0;
}

.card {
    margin-top: 20px;
    width: 320px;
}

.card img {}

.card h4 {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 1.6875rem;
    color: #009688;
    margin-top: 20px;
}

.card p {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 1.09rem;
}

#button-inferior {
    font-family: Ubuntu;
    font-size: 1.5625rem;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    padding: 10px 41px;
    display: block;
    margin: 10px auto;
    width: 207px;
}

#button {
    background-color: #F7F7F7;
    padding-top: 5%;
    padding-bottom: 3%;
}

@media (max-width: 767px) {
    #section-banner .wrapper {
        
    }

    .banner-image {
        display: none;
    }

    .list {
        justify-content: center;
    }
}